.catalog {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--white);
}

.catalog__text {
  margin-bottom: 39px;
  max-width: 1080px;
}

.catalog__wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.catalog__wrapper-accordion {
  width: 100%;
}

.catalog__wrapper-accordion-item-title {
  margin: 0;
  width: 100%;
  min-height: 110px;
  height: 100%;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.catalog__wrapper-accordion-item-spoiler {
  position: relative;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  flex-direction: column;
  margin-top: -1px;
  width: 100%;
  padding-top: 41px;
  padding-bottom: 41px;
  min-height: 112px;
  border-top: 1px solid var(--background-gray);
  border-bottom: 1px solid var(--background-gray);
  font-size: 24px;
  line-height: 32px;
  font-weight: var(--semibold);
  transition-property: background-color, color, border-color;
  transition-duration: var(--short);
}

.catalog__wrapper-accordion-item-spoiler::before {
  content: '';
  position: absolute;
  flex-shrink: 0;
  right: 0;
  top: calc(50% - 50px / 2);
  width: 50px;
  height: 50px;
  background-color: var(--disable-light);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: outline-color var(--short) ease-in-out, background-color var(--short) ease-in-out, outline-color var(--short) ease-in-out;
}

.catalog__wrapper-accordion-item-spoiler::after {
  content: "";
  position: absolute;
  flex-shrink: 0;
  right: calc(50px / 2 - 12px / 2);
  top: calc(50% - 12px / 2);
  width: 12px;
  height: 12px;
  border-right: 1px solid var(--background-black);
  border-bottom: 1px solid var(--background-black);
  transform: rotate(45deg);
  transform-origin: center;
  transition: transform var(--short) ease-in-out;
}

.catalog__wrapper-accordion-item-spoiler-text {
  transition: background-color var(--short) ease-in-out;
}

.catalog__wrapper-accordion-item-spoiler:focus::before {
  background-color: var(--active-border);
}

.catalog__wrapper-accordion-item-spoiler:focus:not(:hover) {
  color: var(--text-white);
  outline: none;
  z-index: 1;
}

.catalog__wrapper-accordion-item-spoiler:focus:not(:hover) .catalog__wrapper-accordion-item-spoiler-text {
  background-color: var(--active-btn-enter);
}

.catalog__wrapper-accordion-item-spoiler:active {
  color: var(--active);
  outline: none;
  z-index: 1;
  border-color: var(--active);
}

.catalog__wrapper-accordion-item-spoiler:active::before {
  outline: 2px solid var(--active-btn-enter);
  outline-offset: -2px;
  background-color: var(--active-border);
  border-color: var(--active-btn-enter);
}

.is-active .catalog__wrapper-accordion-item-spoiler {
  position: relative;
  border-color: var(--active);
  color: var(--active);
  outline: none;
  z-index: 1;
}

.is-active .catalog__wrapper-accordion-item-spoiler::after {
  transform: rotate(225deg);
}

.is-active .catalog__wrapper-accordion-item-spoiler::before {
  outline: 2px solid var(--active-btn-enter);
  outline-offset: -2px;
  background-color: var(--active-border);
}

.catalog__accordion {
  overflow: hidden;
}

.catalog__accordion-list {
  padding-bottom: 50px;
}

.catalog__accordion-list-background {
  display: flex;
  max-width: 580px;
}

.catalog__accordion-list-background::before {
  content: "";
  flex-shrink: 0;
  margin-top: 16px;
  margin-left: 16px;
  margin-bottom: 16px;
  margin-right: 40px;
  width: 251px;
  height: 165px;
  background: var(--background-empty);
  outline: 2px solid var(--background-empty);
  outline-offset: 12px;
}

.catalog__accordion-list-empty {
  display: flex;
}

.catalog__accordion-wrap {
  padding: 25px 50px 25px 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease, visibility .5s ease;
  transition-delay: .3s;
  columns: 3;
}

.catalog__accordion-wrap-empty {
  columns: unset;
}

.catalog__accordion-list-elem-link.active {
  color: var(--active-btn-enter);
}

.catalog__accordion-list-elem-link:focus:not(:hover) {
  color: var(--text-white);
  background-color: var(--active-btn-enter);
  outline: none;
}

.catalog__accordion-list-elem-link:active {
  color: var(--active);
}

.catalog__accordion-list-elem-title {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.catalog__accordion-list-elem-text {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.catalog__wrapper-article-link,
.catalog__accordion-wrap-link {
  width: max-content;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--active-btn-enter);
  transition-duration: var(--short);
  transition-property: background-color, border-color, color;
}

.catalog__wrapper-article-link:focus:not(:hover),
.catalog__accordion-wrap-link:focus:not(:hover) {
  color: var(--text-white);
  background-color: var(--active-btn-enter);
}

.catalog__wrapper-article-link:active,
.catalog__accordion-wrap-link:active {
  color: var(--active);
  background-color: transparent;
  border-bottom: 1px solid var(--active);
}

/* .catalog__accordion-list-elem-content::before {
  content: "";
  margin-top: 16px;
  margin-left: 16px;
  width: 251px;
  height: 165px;
  background: var(--background-empty);
  outline: 2px solid var(--background-empty);
  outline-offset: 12px;
} */

.catalog__accordion-list-elem-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-top: 25px;
  margin-right: 38px; */
  /* padding-left: 300px; */
}

.is-active .catalog__accordion-wrap {
  opacity: 1;
  visibility: visible;
}

.is-active .catalog__list-item-spoiler::after {
  transform: translateY(-50%) rotate(45deg);
}

.catalog__wrapper-article {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 50px;
  max-width: calc(750 / 1600 * 100%);
  width: 100%;
}

.catalog__wrapper-article.active {
  display: flex;
  animation-name: fade-in;
  animation-duration: .3s;
}

.catalog__wrapper-article-img-wrap {
  margin-bottom: 29px;
}

.catalog__wrapper-article-img {
  display: block;
}

.catalog__wrapper-article-title {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

.catalog__wrapper-article-burn {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1;
  color: var(--grey);
}

.catalog__wrapper-article-text {
  margin: 0;
  margin-bottom: 15px;
}

@media (max-width: 1440px) {
  .catalog__accordion-list-background::before {
    margin-top: 8px;
    margin-left: 8px;
    width: 173px;
    height: 114px;
    outline-offset: 8px;
  }
}

@media (max-width: 1360px) {
  .catalog__accordion-wrap {
    columns: 2;
  }

  .catalog__accordion-wrap-empty {
    columns: unset;
  }

  .catalog__accordion-list-background {
    display: flex;
    max-width: 580px;
  }

  .catalog__wrapper-accordion,
  .catalog__wrapper-article {
    max-width: calc(437 / 924 * 100%);
    width: 100%;
  }

  .catalog__accordion-wrap {
    padding: 25px 0;
  }

  .catalog__accordion-list {
    padding-bottom: 0;
  }

  .catalog__wrapper-article-title {
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 1;
  }
}

@media (max-width: 960px) {
  .catalog__wrapper {
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  .catalog__wrapper-accordion {
    margin-bottom: 50px;
  }

  .catalog__wrapper-accordion,
  .catalog__wrapper-article {
    max-width: 100%;
    width: 100%;
  }

  .catalog__accordion-wrap {
    columns: 3;
  }

  .catalog__accordion-wrap-empty {
    columns: unset;
  }

  .catalog__accordion-list-background::before {
    margin-top: 14px;
    margin-left: 14px;
    width: 251px;
    height: 165px;
    outline-offset: 12px;
  }

  .catalog__wrapper-article-img-wrap {
    width: 100%;
  }

  .catalog__wrapper-article-img {
    width: 100%;
  }

  .catalog__wrapper-article {
    margin-right: 0;
  }
}

@media (max-width: 580px) {
  .catalog__accordion-wrap {
    columns: unset;
  }
}

@media (any-hover: hover) {
  .catalog__wrapper-accordion-item-spoiler:hover:not(:active) {
    position: relative;
    border-color: var(--active-btn-enter);
    outline: none;
    z-index: 1;
  }

  .catalog__wrapper-accordion-item-spoiler:hover:not(:active) {
    color: var(--active-btn-enter);
    outline: none;
    z-index: 1;
  }

  .catalog__wrapper-accordion-item-spoiler:hover::before {
    background-color: var(--active-border)
  }

  .catalog__wrapper-article-link:hover:not(:active),
  .catalog__accordion-wrap-link:hover:not(:active) {
    color: var(--active-btn-enter);
    background-color: transparent;
    border-bottom: 1px solid var(--active-btn-enter);;
  }
}
