.catalog {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--white);
}

.catalog__text {
  margin-bottom: 50px;
  max-width: 1080px;
}

.catalog__wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.catalog__wrapper-accordion {
  width: 100%;
}


.catalog__wrapper-accordion-item {
  position: relative;
  margin-top: -1px;
  border-top: 1px solid var(--background-gray);
  border-bottom: 1px solid var(--background-gray);
  transition-property: border-color;
  transition-duration: var(--short);
  z-index: 0;
}

.catalog__wrapper-accordion-item:focus-within {
  position: relative;
  /* border-color: var(--hover); */
  outline: none;
  z-index: 1;
}

.catalog__wrapper-accordion-item-title {
  margin: 0;
  width: 100%;
  min-height: 110px;
  height: 100%;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.catalog__wrapper-accordion-item-spoiler {
  position: relative;
  align-items: center;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  min-height: 112px;
  /* font-weight: var(--bold); */
  font-size: 24px;
  line-height: 32px;
  /* color: var(--text); */
  transition-property: background-color, color, border-color;
  transition-duration: var(--short);
}

.catalog__wrapper-accordion-item-spoiler::before {
  content: '';
  position: absolute;
  flex-shrink: 0;
  right: 0;
  top: calc(50% - 50px / 2);
  width: 50px;
  height: 50px;
  background-color: var(--disable-light);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: outline-color var(--short) ease-in-out, background-color var(--short) ease-in-out, outline-color var(--short) ease-in-out;
}

.catalog__wrapper-accordion-item-spoiler::after {
  content: "";
  position: absolute;
  flex-shrink: 0;
  right: calc(50px / 2 - 12px / 2);
  top: calc(50% - 12px / 2);
  width: 12px;
  height: 12px;
  border-right: 1px solid var(--background-black);
  border-bottom: 1px solid var(--background-black);
  transform: rotate(45deg);
  transform-origin: center;
  transition: transform var(--short) ease-in-out;
}

.catalog__wrapper-accordion-item-spoiler-text {
  transition: background-color var(--short) ease-in-out;
}

.catalog__wrapper-accordion-item-spoiler:focus::before {
  background-color: var(--active-border);
}

.catalog__wrapper-accordion-item-spoiler:focus {
  color: var(--text-white);
  outline: none;
  z-index: 1;
}

.catalog__wrapper-accordion-item-spoiler:focus:not(:hover) .catalog__wrapper-accordion-item-spoiler-text {
  background-color: var(--active-btn-enter);
}

.catalog__wrapper-accordion-item-spoiler:active {
  color: var(--active);
  outline: none;
  z-index: 1;
}

.catalog__wrapper-accordion-item:active {
  position: relative;
  border-color: var(--active);
  outline: none;
  z-index: 1;
}

.is-active .catalog__wrapper-accordion-item {
  position: relative;
  border-color: var(--active-btn-enter);
  outline: none;
  z-index: 1;
}

.catalog__wrapper-accordion-item-spoiler:active::before {
  outline: 2px solid var(--active-btn-enter);
  outline-offset: -2px;
  background-color: var(--active-border);
}

.is-active .catalog__wrapper-accordion-item-spoiler::after {
  transform: rotate(225deg);
}

.is-active .catalog__wrapper-accordion-item-spoiler::before {
  outline: 2px solid var(--active-btn-enter);
  outline-offset: -2px;
  background-color: var(--active-border);
}

.is-active .catalog__wrapper-accordion-item-spoiler {
  color: var(--active);
}

/* .catalog__wrapper-accordion-item.is-active {
  position: relative;
  border-color: var(--active);
  outline: none;
  z-index: 1;
} */

.catalog__accordion {
  overflow: hidden;
  columns: 3;
}

.catalog__accordion-wrap {
  padding-bottom: 40px;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease, visibility .5s ease;
  transition-delay: .3s;
}

.is-active .catalog__accordion-wrap {
  opacity: 1;
  visibility: visible;
}

.is-active .catalog__list-item-spoiler::after {
  transform: translateY(-50%) rotate(45deg);
}

.catalog__wrapper-article {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 50px;
  max-width: calc(750 / 1920 * 100%);
  width: 100%;
}

.catalog__wrapper-article.active {
  display: flex;
  animation-name: fade-in;
  animation-duration: .3s;
}


@media (any-hover: hover) {
  .catalog__wrapper-accordion-item:hover:not(:active) {
    position: relative;
    border-color: var(--active-btn-enter);
    outline: none;
    z-index: 1;
  }

  .catalog__wrapper-accordion-item-spoiler:hover:not(:active) {
    color: var(--active-btn-enter);
    outline: none;
    z-index: 1;
  }

  .catalog__wrapper-accordion-item-spoiler:hover::before {
    background-color: var(--active-border)
  }
}
