.contacts {
  background-color: var(--white);
}

.contacts__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 155px;
  border: 1px solid var(--background-gray);
}

.contacts__showroom {
  display: flex;
  flex-direction: column;
}

.contacts__showroom-title {
  margin: 0%;
  font-size: 24px;
  font-weight: 600;
}

.contacts__showroom-address {
  margin: 0;
  font-size: 16px;
  font-style: normal;
}

.contacts__form {
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
}

.contacts__form-validation-error {
  display: flex;
  flex-direction: column-reverse;

}

.contacts__form-validation-input {
  margin-right: 20px;
  padding: 9px 24px;
  width: 270px;
  height: 50px;
  line-height: 32px;
  border-radius: 100px;
}

.contacts__form-btn {
  padding: 9px 24px;
  min-height: 50px;
  height: 100%;
  background-color: transparent;
  border: 2px solid var(--active-btn-enter);
  color: var(--active-btn-enter);
}

.contacts__form-btn:focus:not(:hover) {
  outline: 2px solid var(--hover);
  outline-offset: 2px;
}

.contacts__form-btn:active {
  outline: 3px solid var(--active-border);
  outline-offset: -3px;
  background-color: var(--active);
  color: var(--text-white);
}

.contacts__form-validation-input.is-invalid {
  border: 1px solid var(--error);
}

.contacts__form-validation-input:focus-visible {
  border: 1px solid var(--text-dark);
}

.just-validate-error-label {
  margin-left: 26px;
  font-size: 12px;
  line-height: 16px;
}

.contacts__form-validation-error {
  display: flex;
  flex-direction: column-reverse;
}

.contacts__links {
  display: flex;
  flex-direction: column;
}

.contacts__links-text {
  margin: 0;
  margin-bottom: 6px;
}

.contacts__links-list {
  display: flex;
  flex-wrap: wrap;
}

.contacts__links-list-elem {
  display: flex;
  margin-bottom: 20px;
}

.contacts__links-list-elem:not(:last-child) {
  margin-right: 20px;
}

.contacts__links-list-elem-link {
  width: 40px;
  height: 40px;
  transition: opacity var(--short) ease-in-out, outline-color var(--short) ease-in-out;
}

.contacts__links-list-elem-link:focus:not(:hover) {
  opacity: 0.5;
}

.contacts__links-list-elem-link:active {
  outline: 1px solid #9643A4;
  outline-offset: -1px;
  border-radius: 100%;
}


.contacts__map {
  width: 100%;
  height: 700px;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}


@media (any-hover: hover) {
  .contacts__links-list-elem-link:hover:not(:active) {
    opacity: 0.5;
  }

  .contacts__form-btn:hover:not(:active) {
    background-color: var(--active-btn-enter);
    border: none;
    outline: none;
    color: var(--text-white);
  }

  .contacts__form-validation-input:hover:not(:active) {
    background-color: var(--hover-background);
  }
}
