.contacts {
  background-color: var(--white);
}

.contacts__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 155px;
  padding-top: 18px;
  padding-bottom: 18px;
  border: 1px solid var(--background-gray);
}

.contacts__showroom {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.contacts__showroom-title {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}

.contacts__showroom-address {
  margin: 0;
  font-size: 16px;
  font-style: normal;
}

.contacts__form {
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
  margin-right: 30px;
}

.contacts__form-validation-error {
  display: flex;
  flex-direction: column-reverse;
}

.contacts__form-validation-input {
  width: 270px;
  height: 50px;
  margin-right: 20px;
  padding: 9px 24px;
  border-radius: 100px;
  line-height: 32px;
  border: 1px solid var(--text-dark);
}

.contacts__form-btn {
  width: 329px;
  height: 100%;
  min-height: 50px;
  padding: 9px 24px;
  border: 2px solid var(--active-btn-enter);
  font-size: 18px;
  font-weight: 700;
  color: var(--active-btn-enter);
  background-color: transparent;
}

.contacts__form-btn:focus:not(:hover) {
  outline: 2px solid var(--hover);
  outline-offset: 2px;
}

.contacts__form-btn:active {
  color: var(--text-white);
  outline: 3px solid var(--active-border);
  outline-offset: -3px;
  background-color: var(--active);
}

.contacts__form-validation-input.is-invalid {
  border: 1px solid var(--error);
}

.contacts__form-validation-input:focus-visible {
  border: 1px solid var(--text-dark);
}

.just-validate-error-label {
  margin-bottom: 2px;
  margin-left: 26px;
  font-size: 12px;
  line-height: 16px;
}

.contacts__form-validation-error {
  display: flex;
  flex-direction: column-reverse;
}

.contacts__links {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.contacts__links-text {
  margin: 0;
  margin-bottom: 6px;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.contacts__links-list {
  display: flex;
  flex-wrap: wrap;
}

.contacts__links-list-elem {
  display: flex;
  margin-bottom: 20px;
}

.contacts__links-list-elem:not(:last-child) {
  margin-right: 20px;
}

.contacts__links-list-elem-link {
  width: 40px;
  height: 40px;
  transition: opacity var(--short) ease-in-out, outline-color var(--short) ease-in-out;
}

.contacts__links-list-elem-link:focus:not(:hover) {
  outline: none;
  opacity: .5;
}

.contacts__links-list-elem-link:active {
  border-radius: 100%;
  outline: 1px solid #9643a4;
  outline-offset: -1px;
}

.contacts__map {
  width: 100%;
  height: 700px;
}

.contacts__map-point {
  z-index: 999999;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: var(--active-btn-enter);
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

/* Позиционирование элементов управления на карте */
.ymaps-2-1-79-controls__toolbar_left {
  margin-top: 340px;
  margin-right: 10px;
  float: right !important;
}

.ymaps-2-1-79-controls-pane *, .ymaps-2-1-79-searchpanel-pane * {
  text-align: center !important;
  vertical-align: center !important;
}

.ymaps-2-1-79-zoom__scale {
  display: none;
}

.ymaps-2-1-79-controls__control {
  position: absolute !important;
  margin-right: 27px !important;
  top: 285px !important;
  right: 10px !important;
  left: unset !important;
}

.ymaps-2-1-79-zoom {
  height: 0 !important;
}

.ymaps-2-1-79-float-button {
  padding: 20px !important;
}

.ymaps-2-1-79-float-button-icon {
  position: absolute;
  left: 7px;
  top: 0px;
}

.ymaps-2-1-79-float-button-icon {
  border: 12px solid transparent !important;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: top;
}

.ymaps-2-1-79-zoom__plus {
  top: -27px !important;
}

@media (max-width: 1360px) {
  .contacts__container {
    padding-top: 43px;
    padding-bottom: 23px;
  }

  .contacts__showroom-title {
    margin-bottom: 3px;
  }

  .contacts__links {
    padding-top: 0;
  }

  .contacts__showroom {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .contacts__form {
    flex-wrap: wrap;
    margin-right: 0;
    margin-bottom: 18px;
  }

  .contacts__form-validation-input {
    margin-bottom: 12px;
  }

  .contacts__form-btn {
    width: 342px;
    margin-bottom: 12px;
    font-size: 18px;
  }

  .ymaps-2-1-79-controls__control {
    display: none !important;
  }

  .ymaps-2-1-79-controls__toolbar_left {
    display: none !important;
  }
}

@media (max-width: 960px) {
  .contacts__form-validation-error {
    width: calc(50% - 10px);
    min-width: 290px;
    margin-right: 20px;
  }

  .contacts__form-validation-mr {
    margin-right: 0;
  }

  .contacts__form-validation-input {
    width: 100%;
;
    margin-right: 0;
  }

  .contacts__form-btn {
    width: calc(50% - 15px);
  }
}

@media (max-width: 720px) {
  .contacts__container,
  .contacts__form {
    align-items: flex-start;
    flex-direction: column;
  }

  .contacts__form,
  .contacts__form-validation-error {
    width: 100%;
  }

  .contacts__form-btn-display {
    display: none;
  }
}

@media (max-width: 580px) {
  .contacts {
    padding-top: 23px;
    border: none;
  }

  .contacts__container {
    padding-top: 0;
    padding-bottom: 0;
    border: none;
  }

  .contacts__showroom-title {
    margin-bottom: 0;
    font-size: 18px;
  }

  .contacts__showroom-address {
    font-size: 14px;
    line-height: 1;
  }

  .contacts__showroom {
    margin-bottom: 18px;
  }

  .contacts__form {
    margin-bottom: 9px;
  }

  .contacts__form-validation-input {
    height: 40px;
    margin-bottom: 20px;
  }

  .contacts__form-btn {
    min-height: 40px;
    font-size: 12px;
  }

  .contacts__links-text {
    font-size: 18px;
    font-weight: 400;
  }

  .contacts__links-list-elem-link {
    width: 50px;
    height: 50px;
  }

  .contacts__map {
    height: 320px;
  }
}

@media (any-hover: hover) {
  .contacts__links-list-elem-link:hover:not(:active) {
    opacity: .5;
  }

  .contacts__form-btn:hover:not(:active) {
    border: none;
    color: var(--text-white);
    outline: none;
    background-color: var(--active-btn-enter);
  }

  .contacts__form-validation-input:hover:not(:active) {
    background-color: var(--hover-background);
  }
}
