.events {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--white);
}

.events__content-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

}

.events__swiper {
  position: relative;
  min-width: 100%
}

.events__card {
  border: 1px solid var(--background-gray);
}

.events__slide-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 13px 50px 45px;
}

.events__card.swiper-slide {
  background-image: none;
  background-color: var(--white);
  height: auto;
}
/* swiper */

.events__slides-container {
  overflow: hidden;
}

.events__navigation {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.events__navigation-btn {
  position: relative;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  background-color: #ECECEC;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.events__navigation-btn::before {
  content: "";
  position: absolute;
  top: calc(50% - 12px / 2);
  width: 12px;
  height: 12px;
  border-color: #000000;
  transform: rotate(45deg);
  transform-origin: center;
}

.events__prev {
  position: absolute;
  left: -25px;
}

.events__next {
  position: absolute;
  right: -25px;
}

.events__next::before {
  left: calc(50% - 17px / 2);
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
}

.events__prev::before {
  left: calc(50% - 10px / 2);
  border-left: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

.events__slides-container {
  overflow: hidden;
}

.events__slide {
  position: relative;
  overflow: hidden;
  background-color: #926B88;
}

.events__slide::before {
  content: "";
  position: relative;
  z-index: 1;
  display: block;
  padding-top: calc(100% - 200px);
  border: 3px solid transparent;
  box-sizing: border-box;
  transition: background-color .3s ease, border-color .3s ease;
}

.events__slide:hover::after {
  opacity: 1;
}

.events__slide:focus {
  outline: none;
}

.events__slide:focus::before {
  border-color: #7943A4;
}

.events__slide:active::before {
  border-color: #D1A9F0;
  background-color: rgba(194, 131, 243, 0.4);
}

/* Адаптивная высота слайда регулируется относительно его ширины с помощью padding-top в % для псевдоэлемента ::before */
/*
@media (max-width: 1024px) {
  .test-slide::before {
    padding-top: calc(85% - 6px);
  }
}

@media (max-width: 768px) {
  .test-left-elem,
  .test-swiper {
    width: 100%;
    marign-left: 0;
    margin-bottom: 20px;
  }

  .test-last {
    width: 100%;
  }

  .test-last-content {
    position: static;
  }

  .test-select {
    max-width: 300px;
  }
} */

@media (max-width: 440px) {
  /* .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .test-swiper {
    display: flex;
    flex-direction: column-reverse;
  }

  .test-navigation {
    align-self: center;
    margin-top: 20px;
  } */

  .events__slide::before {
    padding-top: calc(110% - 6px);
  }
}
