.events {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--white);
}

.events__swiper {
  position: relative;
  min-width: 100%
}

.events__slide {
  border: 1px solid var(--background-gray);

}

.events__slide.swiper-slide {
  background-image: none;
  background-color: var(--white);
  height: auto;
}
/* swiper */

.js-slides-container {
  overflow: hidden;
}

.events__test-navigation {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-left: -25px;
  width: 103%;
  height: 100%;
  z-index: 10;
}

.events__test-slide {
  position: relative;
  overflow: hidden;
  background-color: #926B88;
}

.events__test-slide::before {
  content: "";
  position: relative;
  z-index: 1;
  display: block;
  padding-top: calc(100% - 200px);
  border: 3px solid transparent;
  box-sizing: border-box;
  transition: background-color .3s ease, border-color .3s ease;
}

.events__test-slide:hover::after {
  opacity: 1;
}

.events__test-slide:focus {
  outline: none;
}

.events__test-slide:focus::before {
  border-color: #7943A4;
}

.events__test-slide:active::before {
  border-color: #D1A9F0;
  background-color: rgba(194, 131, 243, 0.4);
}

/* Адаптивная высота слайда регулируется относительно его ширины с помощью padding-top в % для псевдоэлемента ::before */
/*
@media (max-width: 1024px) {
  .test-slide::before {
    padding-top: calc(85% - 6px);
  }
}

@media (max-width: 768px) {
  .test-left-elem,
  .test-swiper {
    width: 100%;
    marign-left: 0;
    margin-bottom: 20px;
  }

  .test-last {
    width: 100%;
  }

  .test-last-content {
    position: static;
  }

  .test-select {
    max-width: 300px;
  }
} */

@media (max-width: 440px) {
  /* .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .test-swiper {
    display: flex;
    flex-direction: column-reverse;
  }

  .test-navigation {
    align-self: center;
    margin-top: 20px;
  } */

  .events__test-slide::before {
    padding-top: calc(110% - 6px);
  }
}
