.events {
  padding-top: 41px;
  padding-bottom: 80px;
  background-color: var(--white);
}

.events__content-wrap {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}

.events__swiper {
  position: relative;
  width: calc((1150 / 1600 * 100%) + 1px);
  min-width: 100%;
  margin-right: 0;
}

.events__card {
  display: flex;
  flex-direction: column;
  outline: 1px solid var(--background-gray);
  outline-offset: -1px;
}

.events__slide-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  min-height: auto;
  padding: 13px 50px 40px;
}

.events__slide-content-up {
  display: flex;
  flex-direction: column;
  margin-bottom: 68px;
}

.events__slide-content-location {
  margin-bottom: 13px;
  font-size: 12px;
  font-weight: 600;
  line-height: 17px;
  color: var(--grey);
}

.events__slide-content-title {
  margin: 0;
  margin-bottom: 9px;
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
}

.events__slide-content-descr {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.events__card.swiper-slide {
  height: auto;
  background-color: var(--white);
  background-image: none;
}

.events__slide-content-wrap {
  display: inline-block;
  width: max-content;
}

.events__slide-content-link {
  position: relative;
  display: inline-block;
  width: max-content;
  padding-top: 6px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--active-btn-enter);
  line-height: 1;
  color: var(--active-btn-enter);
  transition-duration: var(--short);
  transition-property: background-color, border-color, color;
}

.events__slide-content-wrap:focus:not(:hover) {
  padding: 6px;
  color: var(--text-white);
  background-color: var(--active-btn-enter);
}

.events__slide-content-link:focus:not(:hover) {
  margin-left: -6px;
  padding: 6px;
  border-color: var(--text-white);
  color: var(--text-white);
  background-color: var(--active-btn-enter);
  outline: none;
}

.events__slide-content-link:active {
  border-color: var(--text-dark);
  color: var(--text-dark);
  background-color: transparent;
}

/* swiper */
.events__slides-container {
  overflow: hidden;
}

.events__pagination {
  display: none;
  margin-right: 10px;
  color: var(--text-white);
  text-align: center;
}

.events__navigation {
  position: absolute;
  z-index: 10;
  top: calc(50% - 25px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 50px;
}

.events__navigation-btn {
  position: relative;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-image: var(--nav-btn);
  cursor: pointer;
  transition: outline-color var(--short) ease-in-out, background-image var(--short) ease-in-out;
}

.events__navigation-btn:focus:not(:hover) {
  outline: 2px solid var(--active-btn-enter);
  outline-offset: -2px;
}

.events__navigation-btn:active {
  outline: 2px solid var(--active-btn-enter);
  outline-offset: -2px;
  background-image: var(--nav-btn-hover);
}

.events__navigation-btn.swiper-button-disabled::before,
.events__navigation-btn.swiper-button-disabled,
.events__navigation-btn.swiper-button-disabled:hover:not(:active) {
  display: none;
  border-color: var(--disable-border);
  outline: none;
  background-color: var(--disable-light);
}

.events__navigation-prev {
  position: absolute;
  left: -25px;
  transform: rotate(90deg);
}

.events__navigation-next {
  position: absolute;
  right: -25px;
  transform: rotate(-90deg);
}

/* .events__navigation-next::before {
  left: calc(50% - 17px / 2);
  border-top: 1px solid var(--background-black);
  border-right: 1px solid var(--background-black);
}

.events__navigation-prev::before {
  left: calc(50% - 10px / 2);
  border-bottom: 1px solid var(--background-black);
  border-left: 1px solid var(--background-black);
} */

.events__slides-container {
  overflow: hidden;
}

.events__slide {
  position: relative;
  overflow: hidden;
  background-color: #926b88;
}

.events__slide::before {
  content: "";
  position: relative;
  z-index: 1;
  display: block;
  padding-top: calc(100% - 200px);
  transition: background-color .3s ease, border-color .3s ease;
}

.events__slide:hover::after {
  opacity: 1;
}

.events__slide:focus {
  outline: none;
}

.events__slide:focus::before {
  border-color: #7943a4;
}

.events__slide:active::before {
  border-color: #d1a9f0;
  background-color: rgba(194, 131, 243, .4);
}

.events__slide-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.events__slider-pagination.swiper-pagination {
  bottom: -41px;
  display: none;
  justify-content: center;
  padding-right: 40px;
  padding-left: 40px;
  line-height: 1;
  color: var(--background-gray);
}

.events__slider-pagination.swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 0;
}

.events__slider-pagination.swiper-pagination .swiper-pagination-bullet:not(:last-child) {
  margin-right: 15px;
}

.events__slider-pagination.swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--text-gray);
}

/* Адаптивная высота слайда регулируется относительно его ширины с помощью padding-top в % для псевдоэлемента ::before */

@media (max-width: 1360px) {
  .events__navigation {
    display: none;
  }

  .events__slide::before {
    padding-top: calc(100% - 90px);
  }

  .events__slide-content {
    min-height: auto;
    padding: 15px 33px 49px;
  }

  .events__slide-content-up {
    margin-bottom: 25px;
  }

  .events__slide-content-location {
    margin-bottom: 2px;
    text-align: end;
  }

  .events__slide-content-title {
    margin-bottom: 5px;
  }

  .events__slide-content-descr {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
  }

  .events__slider-pagination.swiper-pagination {
    display: flex;
  }
}

@media (max-width: 960px) {
  .events {
    padding-top: 15px;
  }

  .events__slide::before {
    padding-top: calc(100% - 116px);
  }

  .events__slide-content {
    padding: 14px 37px 50px 37px;
  }

  .events__slide-content-up {
    margin-bottom: 26px;
  }

  .events__slide-content-location {
    margin-right: -21px;
  }

  .events__slider-pagination.swiper-pagination {
    bottom: -40px;
  }
}

@media (max-width: 580px) {
  .events {
    padding-top: 5px;
  }

  .events__slide::before {
    padding-top: calc(100% - 90px);
  }

  .events__slide-content {
    padding: 17px 23px 50px;
  }

  .events__slide-content-location {
    margin-right: -5px;
    margin-bottom: 10px;
  }

  .events__slide-content-up {
    margin-bottom: 15px;
  }

  .events__slide-content-link {
    position: relative;
    display: inline-block;
    width: max-content;
    margin-left: 5px;
    padding-top: 6px;
    padding-bottom: 5px;
    font-size: 16px;
  }

  .events__slider-pagination.swiper-pagination {
    bottom: -31px;
  }
}

@media (any-hover: hover) {
  .events__navigation-btn:hover:not(:active) {
    outline: none;
    background-image: var(--nav-btn-hover);
  }

  .events__slide-content-link:hover:not(:active) {
    border-color: var(--focus);
    color: var(--focus);
    /* outline: none; */
  }
}
