.footer {
  background-color: var(--background-black);
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 140px;
}

.footer__logo {
  display: block;
  width: 173px;
  height: 40px;
}

.footer__social {
  max-width: 50%;
}

.footer__social-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}

.footer__social-list-elem {
  margin-bottom: 20px;
}

.footer__social-list-elem:not(:last-child) {
  margin-right: 20px;
}

.footer__social-list-elem-link {
  display: flex;
  width: 45px;
  height: 45px;
  color: var(--background-gray);
  transition-duration: var(--short);
  transition-property: color;
}

.footer__social-list-elem-link:focus:not(:hover) {
  outline: none;
  color: var(--white);
}

.footer__social-list-elem-link:active {
  color: var(--active-btn-enter);
  outline: none;
}

@media (max-width: 1360px) {
  .footer__social-list-elem:not(:last-child) {
    margin-right: 30px;
  }

  .footer__social-list-elem-link {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 580px) {
  .footer__container {
    flex-direction: column-reverse;
    justify-content: flex-end;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .footer__social-list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0;
  }

  .footer__social {
    max-width: 100%;
  }

  .footer__social-list-elem-link {
    width: 50px;
    height: 50px;
  }

  .footer__logo {
    width: 97px;
    height: 22px;
  }
}

@media (any-hover: hover) {
  .footer__social-list-elem-link:hover:not(:active) {
    color: var(--white);
  }
}
