.galary {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  color: var(--text-white);
  background-color: var(--grey);
  background-image: url("../img/galary-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.galary__left {
  width: 100%;
  max-width: 400px;
  margin-right: 50px;
}

.galary__left-elem,
.galary__last {
  width: calc(400 / 1600 * 100%);
}

.galary__select {
  min-height: 40px;
  border-radius: 6px;
  font-size: 18px;
  line-height: 1;
}

.galary__select-title {
  margin: 0;
  margin-bottom: 10px;
}

.galary__last {
  position: relative;
}

.galary__last-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* select */
.choices__inner {
  position: relative;
  z-index: 3;
  min-height: 40px;
  border: 1px solid var(--white);
  border-radius: 6px;
  color: var(--text-white);
  background-color: transparent;
}

.is-open .choices__inner {
  margin-bottom: 1px;
  border: 1px solid var(--white);
  border-radius: 6px;
}

.choices__list.choices__list--dropdown.is-active {
  background-color: var(--background-black);
}

.is-focused .choices__inner,
.is-open .choices__inner {
  border-color: var(--white);
}

.choices.is-focused:focus,
.choices:hover {
  outline-offset: 0;
  background: rgba(255, 255, 255, .2);
}

.choices.is-focused.is-open {
  outline: none;
}

.choices__list--dropdown .choices__item--selectable,
.choices__list[aria-expanded] .choices__item--selectable {
  padding-right: 10px;
  color: var(--grey);
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  color: var(--text-white);
  background: rgba(255, 255, 255, .2);
}

.choices__item {
  width: 100%;
  padding-right: 10px;
  padding-left: 5px;
  opacity: 1;
}

.choices__item:not(:last-child) {
  border-bottom: 1px solid var(--grey);
}

.choices__item.is-selected {
  display: none;
}

.choices__list.choices__list--dropdown.is-active {
  border: 1px solid var(--grey);
  border-radius: 6px;
}

.choices__list--dropdown .choices__placeholder {
  display: none;
}

.choices[data-type*=select-one]::after {
  content: "";
  z-index: 4;
  top: 19px;
  right: 15px;
  box-sizing: border-box;
  width: 8px;
  height: 8px;
  border-width: 0;
  border-bottom: 1px solid var(--white);
  border-left: 1px solid var(--white);
  transition-duration: var(--short);
  transition-property: transform, border-color, color;
  transform: rotate(-45deg);
}

.choices[data-type*=select-one].is-open::after {
  content: "";
  top: 25px;
  border-bottom: 1px solid var(--white);
  border-left: 1px solid var(--white);
  transform: rotate(135deg);
}

/* checkbox */

.galary__last-content-checkbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 9px;
}

.galary__last-content-checkbox-elem:not(:last-child) {
  margin-bottom: 15px;
}

.galary__last-content-checkbox-elem {
  position: relative;
  display: inline-block;
  line-height: 1;
}

.galary__last-content-checkbox-elem .custom-checkbox-text {
  transition: color .3s ease-in-out;
}

.check-label {
  color: inherit;
  vertical-align: middle;
  cursor: pointer;
}

.custom-checkbox {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  margin-right: 9px;
  border: 1px solid var(--grey);
  border-radius: 3px;
  text-align: center;
  vertical-align: middle;
  transition: border-color .3s ease-in-out;
}

.custom-checkbox::before {
  content: "";
  position: absolute;
  top: 33%;
  left: 33%;
  box-sizing: border-box;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  opacity: 0;
  background-color: var(--hover);
  transition: opacity .3s ease-in-out;
}

.checkbox:checked ~ .custom-checkbox {
  border-color: var(--hover);;
}

.checkbox:checked ~ .custom-checkbox::before {
  opacity: 1;
}

.checkbox:focus ~ .custom-checkbox {
  border-color: var(--focus);
  color: var(--focus);
}

.checkbox:focus ~ .custom-checkbox-text {
  border-color: var(--focus);
  color: var(--focus);
}

.checkbox:focus ~ .custom-checkbox::before {
  border-color: var(--focus);
  color: var(--focus);
}

.check-text {
  vertical-align: middle;
  transition: color .3s ease;
}

/* .checkbox:checked ~ .check-text {
  color: violet;
}

.checkbox:focus ~ .check-text {
  color: orange;
} */


/* swiper */
.galary__content-wrap {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}

.galary__swiper {
  width: calc(1150 / 1600 * 100%);
  margin-right: 0;
  padding-top: 18px;
}

.galary__slides-container {
  overflow: hidden;
}

.galary__nav {
  display: inline-flex;
  align-items: center;
  margin-bottom: 30px;
  padding-left: 3px;
}

.galary__pagination {
  margin-right: 19px;
  color: var(--text-white);
  text-align: center;
}

.galary__nav-btn {
  position: relative;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background-color: var(--text-gray);
  cursor: pointer;
  transition-duration: var(--short);
  transition-property: transform, background-color, color, outline-color;
}

.galary__nav-btn::before {
  content: "";
  position: absolute;
  top: calc(50% - 7px / 2);
  width: 7px;
  height: 7px;
  transform: rotate(45deg);
  transform-origin: center;
}

.galary__nav-btn:focus:not(:hover) {
  outline: 2px solid var(--background-black);
  outline-offset: -2px;
}

.galary__nav-btn:active {
  outline: 2px solid var(--background-black);
  outline-offset: -2px;
  background-color: var(--active);
}

.galary__nav-btn.swiper-button-disabled,
.galary__nav-btn.swiper-button-disabled:hover:not(:active) {
  outline: none;
  background-color: var(--disable-dark);
}

.galary__nav-btn.galary__nav-prev.swiper-button-disabled::before,
.galary__nav-btn.galary__nav-next.swiper-button-disabled::before {
  border-color: var(--background-gray);
}

.galary__nav-prev {
  margin-right: 19px;
}

.galary__nav-next::before {
  left: calc(50% - 7px / 2);
  border-top: 1px solid var(--white);
  border-right: 1px solid var(--white);
}

.galary__nav-prev::before {
  left: calc(50% - 7px / 2);
  border-bottom: 1px solid var(--white);
  border-left: 1px solid var(--white);
}

.galary__slide {
  position: relative;
  overflow: hidden;
  background-color: #926b88;
}

.galary__slide::before {
  content: "";
  position: relative;
  z-index: 1;
  display: block;
  box-sizing: border-box;
  padding-top: calc(100% - 6px);
  border: 3px solid transparent;
  transition: background-color .3s ease, border-color .3s ease;
}

.galary__slide::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 25px;
  opacity: 0;
  background-color: rgba(0, 0, 0, .5);
  background-image: url("../img/loupe.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-clip: content-box;
  background-size: 100px;
  transition: opacity .5s ease;
}

.galary__slide:hover::after {
  opacity: 1;
}

.galary__slide:focus {
  outline: none;
}

.galary__slide:focus::before {
  border-color: var(--focus);
}

.galary__slide:active::before {
  border-color: var(--active-border);
  background-color: rgba(194, 131, 243, .4);
}

.galary__slide-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  object-fit: cover;
}

/* .swiper-wrapper .swiper-slide {
  background-image: unset;
} */

/* Адаптивная высота слайда регулируется относительно его ширины с помощью padding-top в % для псевдоэлемента ::before */

@media (max-width: 1360px) {
  .galary__slide::before {
    padding-top: calc(85% - 6px);
    border: 2px solid transparent;
  }

  .galary__left-elem,
  .galary__last {
    width: calc(250 / 824 * 100%);
  }

  .galary__swiper {
    width: calc(530 / 824 * 100%);
    padding-top: 19px;
  }

  .galary__nav {
    padding-left: 1px;
  }

  .galary__slide::before,
  .galary__slide {
    min-height: 315px;
  }

  .galary__last-content {
    bottom: 35px;
  }
}

@media (max-width: 960px) {
  .galary__left-elem {
    width: 42%;
    margin-bottom: 46px;
    margin-left: 0;
  }

  .galary__swiper {
    width: 100%;
  }

  .galary__swiper {
    margin-left: 0;
  }

  .galary__left-elem,
  .galary__last {
    order: -1;
  }

  .galary__last {
    width: 100%;
    margin-bottom: 13px;
  }

  .galary__last-content {
    position: static;
  }

  .galary__slide::before,
  .galary__slide {
    min-height: 330px;
  }
}

@media (max-width: 580px) {
  .galary {
    padding-top: 50px;
    padding-bottom: 19px;
  }

  .galary__left-elem {
    width: 100%;
    margin-bottom: 38px;
  }

  .galary__last {
    margin-bottom: 32px;
  }

  .galary__select-title {
    margin-bottom: 8px;
  }

  .galary__last-content-checkbox-elem:not(:last-child) {
    margin-bottom: 16px;
  }

  .galary__slide::before,
  .galary__slide {
    min-height: 367px;
  }

  .galary__swiper {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 0;
  }

  .galary__nav {
    align-self: center;
    margin-top: 20px;
  }

  .galary__slide::before {
    padding-top: calc(110% - 6px);
  }
}

@media (any-hover: hover) {
  .check-label:hover:not(:active) .custom-checkbox {
    border-color: var(--hover);
  }

  .check-label:hover:not(:active) .custom-checkbox-text {
    color: var(--hover);
  }

  .galary__nav-btn:hover:not(:active) {
    outline: none;
    background-color: var(--active-btn-enter);
  }
}
