.galary {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url("../img/galary-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--grey);
  color: var(--text-white);
}

.galary__left {
  margin-right: 50px;
  max-width: 400px;
  width: 100%;
}

.galary__left-elem,
.galary__last {
  width: calc(400 / 1600 * 100%);
}

.galary__select {
  min-height: 50px;
  border-radius: 6px;
}

.galary__last {
  position: relative;
}

.galary__last-content {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}


/* select */
.choices__inner {
  position: relative;
  border-radius: 6px;
  border: 1px solid var(--white);
  background-color: transparent;
  z-index: 3;
  color: var(--text-white);
}

.is-open .choices__inner {
  margin-bottom: 1px;
  border-radius: 6px;
  border: 1px solid var(--white);
}

.choices__list.choices__list--dropdown.is-active {
  background-color: #000000;
}

.is-focused .choices__inner,
.is-open .choices__inner {
  border-color: var(--white);
}

.choices.is-focused:focus,
.choices:hover {
  /* outline: 1px solid red; */
  background: rgba(255, 255, 255, 0.2);
  outline-offset: 0;
}

.choices.is-focused.is-open {
  outline: none;
}

.choices__list--dropdown .choices__item--selectable, .choices__list[aria-expanded] .choices__item--selectable {
  padding-right: 10px;
  color: var(--grey);
}

.choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background: rgba(255, 255, 255, 0.2);
  color: var(--text-white);
}

.choices__item {
  padding-right: 10px;
  padding-left: 5px;
  width: 100%;
  opacity: 1;
}

.choices__item:not(:last-child) {
  border-bottom: 1px solid var(--grey);
}

.choices__list.choices__list--dropdown.is-active {
  border: 1px solid var(--grey);
  border-radius: 6px;
}

.choices__list--dropdown .choices__placeholder {
	display: none;
}

.choices[data-type*=select-one]::after {
  content: "";
  border-width: 0;
  width: 8px;
  height: 8px;
  right: 15px;
  top: 25px;
  border-bottom: 1px solid var(--white);
  border-left: 1px solid var(--white);
  box-sizing: border-box;
  transform: rotate(-45deg);
  z-index: 4;
}

.choices[data-type*=select-one].is-open::after {
  content: "";
  border-width: 0;
  top: 35px;
  border-top: 1px solid var(--white);
  border-right: 1px solid var(--white);
}

/* checkbox */

.galary__last-content-checkbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.galary__last-content-checkbox-elem:not(:last-child) {
  margin-bottom: 20px;
}

.galary__last-content-checkbox-elem {
  position: relative;
  display: inline-block;
}

.galary__last-content-checkbox-elem .custom-checkbox-text {
  transition: color .3s ease-in-out;
}

.check-label {
  vertical-align: middle;
  color: inherit;
  cursor: pointer;
}

.check-label:hover .custom-checkbox {
  border-color: yellowgreen;
}

.check-label:hover .custom-checkbox-text {
  color: yellowgreen;
}

.custom-checkbox {
  display: inline-block;
  position: relative;
  text-align: center;
  vertical-align: middle;
  margin-right: 9px;
  width: 15px;
  height: 15px;
  border: 1px solid #999999;
  box-sizing: border-box;
  border-radius: 3px;
  transition: border-color .3s ease-in-out;
}

.custom-checkbox::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  left: 33%;
  top: 33%;
  background-color: #C283F3;
  border-radius: 100%;
  box-sizing: border-box;
  transition: opacity .3s ease-in-out;
  opacity: 0;
}

/* .checkbox:checked ~ .custom-checkbox::before,
.checkbox:checked ~ .custom-checkbox {
  opacity: 1;
  border-color: #CCB26E;
} */

/* .list-item-checkbox-content-elem:hover *,
.custom-checkbox:hover,
.check-label:hover .custom-checkbox,
.check-label:hover {
  cursor: pointer;
  color: #967010;
  border-color: #967010;
} */

.checkbox:checked ~ .custom-checkbox {
  border-color: violet;
}

.checkbox:checked ~ .custom-checkbox::before {
  opacity: 1;
}

.checkbox:focus ~ .custom-checkbox {
  border-color: orange;
}

.checkbox:focus ~ .custom-checkbox::before {
  border-color: orange;
}

.check-text {
  vertical-align: middle;
  transition: color .3s ease;
}

.checkbox:checked ~ .check-text {
  color: violet;
}

.checkbox:focus ~ .check-text {
  color: orange;
}


/* swiper */
.galary__content-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.galary__swiper {

  width: calc(1150 / 1600 * 100%);
  margin-right: 0;
}

.galary__slides-container {
  overflow: hidden;
}

.galary__nav {
  display: inline-flex;
  align-items: center;
  margin-bottom: 10px;
}

.galary__pagination {
  margin-right: 10px;
  text-align: center;
  color: var(--text-white);
}

.galary__nav-btn {
  position: relative;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  background-color: #666666;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.galary__nav-btn::before {
  content: "";
  position: absolute;
  top: calc(50% - 7px / 2);
  width: 7px;
  height: 7px;
  transform: rotate(45deg);
  transform-origin: center;
}

.galary__nav-prev {
  margin-right: 10px;
}

.galary__nav-next::before {
  left: calc(50% - 7px / 2);
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
}

.galary__nav-prev::before {
  left: calc(50% - 7px / 2);
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.galary__slide {
  position: relative;
  overflow: hidden;
  background-color: #926B88;
}

.galary__slide::before {
  content: "";
  position: relative;
  z-index: 1;
  display: block;
  padding-top: calc(100% - 6px);
  border: 3px solid transparent;
  box-sizing: border-box;
  transition: background-color .3s ease, border-color .3s ease;
}

.galary__slide::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 25px;
  box-sizing: border-box;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("../img/loupe.svg");
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
  background-clip: content-box;
  transition: opacity .5s ease;
}

.galary__slide:hover::after {
  opacity: 1;
}

.galary__slide:focus {
  outline: none;
}

.galary__slide:focus::before {
  border-color: #7943A4;
}

.galary__slide:active::before {
  border-color: #D1A9F0;
  background-color: rgba(194, 131, 243, 0.4);
}

.galary__slide-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Адаптивная высота слайда регулируется относительно его ширины с помощью padding-top в % для псевдоэлемента ::before */

@media (max-width: 1024px) {
  .galary__slide::before {
    padding-top: calc(85% - 6px);
  }
}

@media (max-width: 768px) {
  .galary__left-elem,
  .galary__swiper {
    width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
  }

  .galary__last {
    width: 100%;
  }

  .galary__last-content {
    position: static;
  }

  /* .test-select {
    max-width: 300px;
  } */
}

@media (max-width: 440px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .galary__swiper {
    display: flex;
    flex-direction: column-reverse;
  }

  .galary__nav {
    align-self: center;
    margin-top: 20px;
  }

  .galary__slide::before {
    padding-top: calc(110% - 6px);
  }
}





