.galary {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url("../img/galary-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--grey);
  color: var(--text-white);
}

.galary__left {
  margin-right: 50px;
  max-width: 400px;
  width: 100%;
}

/* .galary__title {
  color: var(--text-white);
} */

.galary__filter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}




