.header {
  position: relative;
  z-index: 3;
  min-height: 170px;
  margin-bottom: -170px;
}

.header__container {
  position: relative;
  color: var(--text-white);
}

.header__up {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  min-height: 100px;
  margin: inherit;
  padding: inherit;
  font-size: 18px;
  background-color: var(--background-black);
}

.header__burger {
  display: none;
}

.header__left {
  margin-right: calc(173 / 1600 * 100%);
}

.header__logo {
  display: block;
  width: 173px;
  height: 40px;
}

.header__logo:focus {
  outline: 2px solid var(--hover);
  outline-offset: 1px;
}

.header__nav {
  width: 100%;
  font-weight: var(--semibold);
  line-height: 21px;
}

.header__nav-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header__nav-list {
  display: flex;
  align-items: center;
  justify-content: end;
}

.header__nav-list-elem:not(:last-child) {
  margin-right: 50px;
}

.header__nav-list-elem {
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
}

.header__nav-list-elem-link {
  padding-right: 6px;
  padding-left: 6px;
  transition-duration: var(--short);
  transition-property: color, background-color;
}

.header__nav-list-elem-link::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--hover);
  transition-duration: var(--short);
  transition-property: background-color, color, transform;
  transform: scaleX(0);
}

.header__nav-list-elem-link:focus:not(:hover) {
  background-color: var(--focus);
}

.header__nav-list-elem-link:active {
  color: var(--active);
}

.header__nav-btn {
  position: relative;
  height: 100%;
  min-height: 29px;
  padding: 0 0;
  line-height: 1;
  color: var(--text-white);
  transition-duration: var(--short);
  transition-property: background-color, color, transform;
}

.header__nav-btn-hover {
  position: absolute;
  top: 50%;
  width: 1px;
  height: 1px;
  background-color: var(--white);
  transition-duration: var(--short);
  transition-property: background-color, transform;
}

.header__nav-btn:focus:not(:hover) {
  outline: none;
  background-color: var(--focus);
}

.header__nav-btn:active {
  color: var(--active-btn-enter);
  outline: none;
}

.header__nav-btn:active .header__nav-btn-hover {
  background-color: var(--active-btn-enter);
  transform: scaleX(9);
}

.header__up-search {
  display: none;
  padding-top: 8px;
}

.header__down {
  position: absolute;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  min-height: 70px;
  margin: inherit;
  padding: inherit;
  background: rgba(0, 0, 0, .4);
}

/* dropdown */
.dropdown {
  position: absolute;
  top: 100%;
  visibility: hidden;
  width: 300px;
  padding: 30px;
  opacity: 0;
  background: rgba(0, 0, 0, .5);
  /* background-color: var(--background-default); */
  transition: visibility var(--short) ease-in-out, opacity var(--short) ease-in-out;
}

.dropdown.dropdown__active {
  visibility: visible;
  opacity: 1;
}

.dropdown__simplebar {
  height: 240px;
  padding-right: 20px;
}

.dropdown__item {
  display: flex;
  align-items: center;
  min-height: 40px;
  margin-bottom: 20px;
  color: var(--text-white);
  background-color: rgba(0,0,0,.8);
  transition-duration: 3s;
  transition-property: background-color, background;
}

.dropdown__item:last-child {
  margin-bottom: 0;
}

.dropdown__simplebar .simplebar-track.simplebar-vertical {
  width: 2px;
  background-color: #000000;
}

.dropdown__simplebar .simplebar-scrollbar {
  width: 2px;
  background-color: var(--white);
}

.header__menu-item-dropdown-link {
  display: block;
  width: 100%;
  padding: 2px;
  padding-left: 14px;
  transition-duration: var(--short);
  transition-property: border-color, background, background-color;
}

.header__menu-item-dropdown-link:focus {
  padding-left: 12px;
  border: 2px solid var(--active-btn-enter);
  outline: none;
}

.header__menu-item-dropdown-link:active {
  padding-left: 12px;
  border: 2px solid var(--active-border);
  outline: none;
  background: linear-gradient(0deg, rgba(194, 131, 243, .4), rgba(194, 131, 243, .4));
}

.header__menu-item-dropdown-tintoretto {
  background-image: url("../img/dropdown-realism-tintoretto.jpg");
}

.header__menu-item-dropdown-fridrih {
  background-image: url("../img/dropdown-realism-fridrih.jpg");
}

.header__menu-item-dropdown-leonardo {
  background-image: url("../img/dropdown-realism-leonardo.jpg");
}

.header__menu-item-dropdown-verokko {
  background-image: url("../img/dropdown-realism-verokko.jpg");
}

.header__menu-item-dropdown-mone {
  background-image: url("../img/dropdown-impressionism-mone.jpg");
}

.header__menu-item-dropdown-sisley {
  background-image: url("../img/dropdown-impressionism-sisley.jpg");
}

.header__menu-item-dropdown-mane {
  background-image: url("../img/dropdown-impressionism-mane.jpg");
}

.header__menu-item-dropdown-renuar {
  background-image: url("../img/dropdown-impressionism-renuar.jpg");
}

.header__menu-item-dropdown-vangog {
  background-image: url("../img/dropdown-postimpressionism-vangog.jpg");
}

.header__menu-item-dropdown-sezann {
  background-image: url("../img/dropdown-postimpressionism-sezann.jpg");
}

.header__menu-item-dropdown-gogen {
  background-image: url("../img/dropdown-postimpressionism-gogen.jpg");
}

.header__menu-item-dropdown-siora {
  background-image: url("../img/dropdown-postimpressionism-siora.jpg");
}

.header__menu-item-dropdown-candinsky {
  background-image: url("../img/dropdown-avant-garde-candinsky.jpg");
}

.header__menu-item-dropdown-marinetty {
  background-image: url("../img/dropdown-avant-garde-marinetty.jpg");
}

.header__menu-item-dropdown-malevich {
  background-image: url("../img/dropdown-avant-garde-malevich.jpg");
}

.header__menu-item-dropdown-picasso {
  background-image: url("../img/dropdown-avant-garde-picasso.jpg");
}

.header__menu-item-dropdown-karra {
  background-image: url("../img/dropdown-futurism-karra.jpg");
}

.header__menu-item-dropdown-pratella {
  background-image: url("../img/dropdown-futurism-pratella.jpg");
}

.header__menu-item-dropdown-severiny {
  background-image: url("../img/dropdown-futurism-severiny.jpg");
}

.header__menu-item-dropdown-balla {
  background-image: url("../img/dropdown-futurism-balla.jpg");
}

.header__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 65.5%;
  margin-left: -6px;
}

.header__menu-item {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header__menu-item-btn {
  position: relative;
  padding-top: 6px;
  padding-right: 20px;
  padding-bottom: 6px;
  border: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: var(--text-white);
  background-color: transparent;
  cursor: pointer;
  transition-duration: var(--short);
  transition-property: background-color, color;
}

.header__menu-item-btn::after {
  content: "";
  position: absolute;
  top: 14px;
  right: 8px;
  display: inline-block;
  box-sizing: border-box;
  width: 7px;
  height: 7px;
  border-bottom: 1px solid var(--text-white);
  border-left: 1px solid var(--text-white);
  transition-duration: var(--short);
  transition-property: transform, border-color, color;
  transform: rotate(-45deg);
}

.header__menu-item-btn:focus:not(:hover) {
  outline: none;
  background-color: var(--focus);
}

.header__menu-item-btn:active {
  color: var(--active);
}

.header__menu-item-btn:active::after {
  border-color: var(--active);
}

.header__menu-item-btn.btn__active::after {
  top: 17px;
  transform: rotate(135deg);
}

/*search*/
.header__search-btn.active {
  opacity: 0;
}

.header__search-btn,
.header__close-btn {
  flex-shrink: 0;
  width: 22px;
  height: 18px;
  line-height: 1;
  color: var(--text);
  outline: none;
  transition: color var(--short);
}

.header__search-btn--submit {
  margin-right: 9px;
}

.header__close-btn {
  display: none;
  color: var(--white);
}

.header__search-btn:focus:not(:hover),
.header__close-btn:focus:not(:hover) {
  color: var(--active-btn-enter);
  outline: 2px solid var(--hover);
  outline-offset: 2px;
}

.header__search-btn:active,
.header__close-btn:active {
  color: var(--active);
}

.header__search-btn:visited {
  color: transparent;
}

.header__search-form {
  position: absolute;
  z-index: 14;
  top: 7px;
  right: var(--container-padding);
  display: none;
  align-items: center;
  width: 100%;
  max-width: 251px;
  padding: 16px 0 16px;
  border-radius: 16px;
  background: var(--background);
  box-shadow: 0 0 20px rgba(0, 0, 0, .12);
  transform-origin: right;
}

.header__search-form.is-opened {
  display: flex;
  animation-name: search-open;
  animation-duration: .3s;
}

.header__search-form.is-closed {
  animation-name: search-close;
  animation-duration: .3s;
}

.header__search-input {
  flex-grow: 1;
  padding-bottom: 4px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, .85);
  font-size: 18px;
  font-weight: var(--medium);
  color: var(--text-white) 85%;
  outline: none;
  background: transparent;
  transition: border-color var(--short);
}

.header__search-input::placeholder {
  transition: opacity var(--short);
}

.header__search-input:focus::placeholder {
  opacity: 0;
}

.header__search-input:focus:not(:hover),
.header__search-input:active {
  border-color: var(--active);
}

@media (max-width: 1280px) {
  .header__burger {
    position: relative;
    z-index: 13;
    display: inline-block;
    width: 45px;
    height: 29px;
    margin-right: calc(349 / 924 * 100%);
  }

  .header__burger.is-active {
    width: 30px;
  }

  .header__left {
    margin-right: 5px;
  }

  .header__logo {
    width: 187px;
    height: 42px;
  }

  .header__nav-list {
    display: block;
    overflow-y: auto;
    width: 100%;
    max-height: 100%;
    margin-bottom: 30px;
    margin-left: -2px;
    padding-left: 2px;
    font-size: 24px;
    font-weight: var(--bold);
    line-height: 29px;
  }

  .header__nav-list-elem:not(:last-child) {
    margin-right: 0;
  }

  .header__nav-list-elem-link {
    font-size: 16px;
  }

  .header__nav-btn {
    width: 257px;
    height: 60px;
    border: 2px solid var(--active-btn-enter);
    border-radius: 100px;
  }

  .header__nav-wrap {
    position: fixed;
    z-index: 12;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    padding: 48px;
    padding-top: 100px;
    color: var(--white);
    background: rgba(0, 0, 0, .9);
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    transform: translateX(-100%);
  }

  .header__nav-wrap.is-active {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(0);
    animation-name: menu-open;
    animation-duration: .3s;
  }

  .header__nav-wrap.is-closed {
    animation-name: menu-close;
    animation-duration: .3s;
  }

  .header__up-search {
    display: initial;
  }

  .header__search-form.is-opened {
    max-width: calc(312 / 1024 * 100%);
  }

  .header__search-form {
    top: 20px;
    max-width: 314px;
  }

  .header__search-input {
    margin-right: 24px;
  }

  .header__down {
    display: none;
  }

  .header__menu {
    display: none;
  }

  .header__close-btn {
    display: inline-block;
  }

  .header__search-btn,
  .header__close-btn {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 960px) {
  .header__burger {
    margin-right: calc(221 / 668 * 100%);
  }

  .header__search-form.is-opened {
    top: 0;
    max-width: calc(100% - var(--container-padding) * 2);
    height: 100%;
    background-color: var(--background-black);
  }

  .header__search-btn,
  .header__close-btn {
    width: 29px;
    height: 29px;
  }

  .header__nav-wrap.is-active {
    padding-bottom: 50px;
  }

  .header__nav-btn {
    height: 60px;
  }
}

@media (max-width: 680px) {
  .header__up {
    width: 100%;
    min-height: 45px;
  }

  .header__logo {
    width: 97px;
    height: 22px;
  }

  .header__burger {
    width: 25px;
    height: 25px;
    margin-right: calc(72 / 290 * 100%);
  }

  .header__search-form.is-opened {
    top: 0;
    right: 0;
    max-width: 100%;
    min-height: 75px;
    padding: var(--container-padding);
    border-radius: 0;
    background: rgba(0, 0, 0, .9);
  }

  .header__close-btn {
    position: absolute;
    top: var(--container-padding);
    right: var(--container-padding);
  }

  .header__search-btn,
  .header__close-btn {
    width: 17px;
    height: 17px;
  }

  .header__nav-wrap.is-active {
    padding: 46px 15px 15px;
  }

  .header__up-search {
    display: flex;
    align-items: center;
    padding-top: 0;
  }

  .header__nav-btn {
    width: 115px;
    height: 40px;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
  }

  .header__nav-btn svg {
    width: 9px;
    height: 9px;
  }

  .header__nav-list-elem {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .header__nav-btn-hover {
    top: 48%;
  }
}

@media (any-hover: hover) {
  .header__nav-list-elem-link:hover:not(:active) {
    color: var(--hover);
  }

  .header__nav-btn:hover:not(:active) {
    color: var(--hover);
    outline: none;
  }

  .header__nav-btn:hover:not(:active) .header__nav-btn-hover {
    background-color: var(--hover);
    transform: scaleX(9);
  }

  .header__menu-item-btn:hover:not(:active) {
    color: var(--active-btn-enter);
    outline: none;
  }

  .header__menu-item-btn:hover:not(:active)::after {
    border-color: var(--active-btn-enter);
    outline: none;
  }

  .header__menu-item-dropdown-link:hover:not(:active) {
    padding-left: 12px;
    border: 2px solid var(--active-btn-enter);
  }

  .header__search-input:hover:not(:active) {
    border-color: var(--hover);
  }

  .header__search-btn:hover:not(:active),
  .header__close-btn:hover:not(:active) {
    color: var(--active-btn-enter);
    outline: none;
  }
  /* .header__nav-list-elem-link:hover::after {
    transform: scaleX(1);
  }

  .header__nav-list-elem-link:hover:not(:active) {
    color: rgb(122, 115, 219);
  }

  .footer__list-elem-link:hover:not(:active) {
    color: rgb(122, 115, 219);
  } */
}
