.header {
  position: relative;
  z-index: 3;
  min-height: 170px;
  margin-bottom: -170px;
}

.header__container {
  position: relative;
  color: var(--text-white);
}

.header__up {
  position: absolute;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin: inherit;
  padding: inherit;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 100px;
  font-size: 18px;
  background-color: var(--background-black);
}

.header__burger {
  display: none;
}

.header__left {
  margin-right: calc(173 / 1600 * 100%);
}

.header__logo {
  display: block;
  width: 173px;
  height: 40px;
}

.header__logo:focus {
  outline: 2px solid var(--hover);
  outline-offset: 1px;
}

.header__nav {
  font-weight: var(--semibold);
  line-height: 21px;
  width: 100%;
}

.header__nav-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header__nav-list {
  display: flex;
  align-items: center;
  justify-content: end;
}

.header__nav-list-elem:not(:last-child) {
  margin-right: 50px;
}

.header__nav-list-elem {
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
}

.header__nav-list-elem-link {
  padding-left: 6px;
  padding-right: 6px;
  transition-duration: var(--short);
  transition-property: color, background-color;
}

.header__nav-list-elem-link::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--hover);
  transition-duration: var(--short);
  transition-property: background-color, color, transform;
  transform: scaleX(0);
}

.header__nav-list-elem-link:focus:not(:hover) {
  /* outline: 2px solid var(--hover);
  outline-offset: 1px; */
  background-color: var(--focus);
}

.header__nav-list-elem-link:active {
  color: var(--active);
}

.header__nav-btn {
  position: relative;
  padding: 0 0px;
  height: 100%;
  min-height: 29px;
  line-height: 1;
  color: var(--text-white);
  transition-duration: var(--short);
  transition-property: background-color, color, transform;
}

.header__nav-btn-hover {
  position: absolute;
  top: 50%;
  width: 1px;
  height: 2px;
  background-color: var(--white);
  transition-duration: var(--short);
  transition-property: background-color, transform;
}

.header__nav-btn:focus:not(:hover) {
  background-color: var(--focus);
  outline: none;
}

.header__nav-btn:active {
  color: var(--active-btn-enter);
}

.header__nav-btn:active .header__nav-btn-hover {
  transform: scaleX(9);
  background-color: var(--active-btn-enter);
}

.header__up-search {
  display: none;
}

.header__down {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin: inherit;
  padding: inherit;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 70px;
  background: rgba(0, 0, 0, 0.4);
}

/* dropdown */
.dropdown {
  background-color: #e5e5e5;
  width: 300px;
  padding: 30px;
  position: absolute;
  top: 100%;
  visibility: hidden;
  opacity: 0;
  transition: visibility .3s ease-in-out, opacity .3s ease-in-out;
  background: rgba(0, 0, 0, 0.6);
}
.dropdown.dropdown__active {
  visibility: visible;
  opacity: 1;
}
.dropdown__simplebar {
  height: 240px;
  padding-right: 20px;
}
.dropdown__item {
  min-height: 30px;
  padding: 5px;
  background-color: rgba(0,0,0,0.8);
  color: #fff;
  margin-bottom: 20px;
}
.dropdown__item:last-child {
  margin-bottom: 0px;
}

.dropdown__simplebar .simplebar-track.simplebar-vertical {
  background-color: #000000;
  width: 2px;
}
.dropdown__simplebar .simplebar-scrollbar {
  width: 2px;
  background-color: #FFFFFF;
}

.header__menu-item-dropdown-tintoretto {
  background-image: url('../img/dropdown-realism-tintoretto.jpg');
}

.header__menu-item-dropdown-fridrih {
  background-image: url('../img/dropdown-realism-fridrih.jpg');
}

.header__menu-item-dropdown-leonardo {
  background-image: url('../img/dropdown-realism-leonardo.jpg');
}

.header__menu-item-dropdown-verokko {
  background-image: url('../img/dropdown-realism-verokko.jpg');
}

.header__menu-item-dropdown-mone {
  background-image: url('../img/dropdown-impressionism-mone.jpg');
}

.header__menu-item-dropdown-sisley {
  background-image: url('../img/dropdown-impressionism-sisley.jpg');
}

.header__menu-item-dropdown-mane {
  background-image: url('../img/dropdown-impressionism-mane.jpg');
}

.header__menu-item-dropdown-renuar {
  background-image: url('../img/dropdown-impressionism-renuar.jpg');
}

.header__menu-item-dropdown-vangog {
  background-image: url('../img/dropdown-postimpressionism-vangog.jpg');
}

.header__menu-item-dropdown-sezann {
  background-image: url('../img/dropdown-postimpressionism-sezann.jpg');
}

.header__menu-item-dropdown-gogen {
  background-image: url('../img/dropdown-postimpressionism-gogen.jpg');
}

.header__menu-item-dropdown-siora {
  background-image: url('../img/dropdown-postimpressionism-siora.jpg');
}

.header__menu-item-dropdown-candinsky {
  background-image: url('../img/dropdown-avant-garde-candinsky.jpg');
}

.header__menu-item-dropdown-marinetty {
  background-image: url('../img/dropdown-avant-garde-marinetty.jpg');
}

.header__menu-item-dropdown-malevich {
  background-image: url('../img/dropdown-avant-garde-malevich.jpg');
}

.header__menu-item-dropdown-picasso {
  background-image: url('../img/dropdown-avant-garde-picasso.jpg');
}

.header__menu-item-dropdown-karra {
  background-image: url('../img/dropdown-futurism-karra.jpg');
}

.header__menu-item-dropdown-pratella {
  background-image: url('../img/dropdown-futurism-pratella.jpg');
}

.header__menu-item-dropdown-severiny {
  background-image: url('../img/dropdown-futurism-severiny.jpg');
}

.header__menu-item-dropdown-balla {
  background-image: url('../img/dropdown-futurism-balla.jpg');
}

.header__menu {
  display: flex;
  flex-wrap: wrap;
}
.header__menu-item {
  position: relative;
  margin-right: 100px;
}
.header__menu-item-btn {
  position: relative;
  background-color: transparent;
  border: none;
  color: #fff;
  padding-top: 25px;
  padding-bottom: 26px;
  cursor: pointer;
}

.header__menu-item-btn::after {
  position: absolute;
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
  top: 30px;
  right: -10px;
  border-bottom: 1px solid #FFFFFF;
  border-left: 1px solid #FFFFFF;
  box-sizing: border-box;
  transform: rotate(-45deg);
  transition: transform .3s;
}

.header__menu-item-btn.btn__active::after {
  top: 35px;
  transform: rotate(135deg);
}

/*search*/
.header__search-btn.active {
  opacity: 0;
}

.header__search-btn,
.header__close-btn {
  flex-shrink: 0;
  width: 22px;
  height: 22px;
  line-height: 1;
  color: var(--text);
  outline: none;
  transition: color var(--short);
}

.header__search-btn--submit {
  margin-right: 9px;
}

.header__close-btn {
  display: none;
  color: var(--grey);
}

.header__search-btn:focus:not(:hover),
.header__close-btn:focus:not(:hover) {
  outline: 2px solid var(--hover);
  outline-offset: 2px;
}

.header__search-btn:active {
  color: var(--active);
}

.header__search-btn:visited {
  color: transparent;
}


.header__close-btn:active {
  color: var(--text);
}

.header__search-form {
  position: absolute;
  z-index: 14;
  right: var(--container-padding);
  top: 5px;
  display: none;
  align-items: center;
  max-width: 251px;
  width: 100%;
  padding: 16px 0 16px;
  background: var(--background);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.12);
  border-radius: 16px;
  transform-origin: right;
}

.header__search-form.is-opened {
  display: flex;
  animation-name: search-open;
  animation-duration: .3s;
}

.header__search-form.is-closed {
  animation-name: search-close;
  animation-duration: .3s;
}

.header__search-input {
  flex-grow: 1;
  padding-bottom: 4px;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  background: transparent;
  font-weight: var(--medium);
  font-size: 18px;
  color: #FFFFFF 85%;
  transition: border-color var(--short);
}

.header__search-input::placeholder {
  transition: opacity var(--short);
}

.header__search-input:focus::placeholder {
  opacity: 0;
}



@media (max-width: 1360px) {
  /* .header__up {
    justify-content: space-between;
  } */

  .header__burger {
    position: relative;
    margin-right: calc(332 / 924 * 100%);
    z-index: 13;
    display: inline-block;
    width: 30px;
    height: 23px;
  }

  .header__left {
    margin-right: 5px;
  }

  .header__logo {
    width: 187px;
    height: 42px;
  }

  .header__nav-list {
    display: block;
    overflow-y: auto;
    max-height: 100%;
    margin: 0;
    font-size: 24px;
    font-weight: var(--bold);
    line-height: 29px;
  }

  .header__nav-list-elem:not(:last-child) {
    margin-right: 0;
  }

  .header__nav-list-elem-link {
    font-size: 16px;
  }

  .header__nav-wrap {
    position: fixed;
    z-index: 12;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100vh;
    padding: 40px;
    color: var(--text-dark);
    background-color: var(--white);
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    transform: translateX(-100%);
  }
/*
  .header__nav-btn {
    color: var(--text-dark);
  } */

  .header__nav-wrap.is-active {
    display: block;
    transform: translateX(0);
    animation-name: menu-open;
    animation-duration: .3s;
  }

  .header__nav-wrap.is-closed {
    animation-name: menu-close;
    animation-duration: .3s;
  }

  .header__up-search {
    display: initial;
  }

  .header__down {
    display: none;
  }

  .header__menu {
    display: none;
  }

  .header__close-btn {
    display: inline-block;
  }


}


@media (any-hover: hover) {
  .header__nav-list-elem-link:hover:not(:active) {
    color: var(--hover);
  }

  .header__nav-btn:hover:not(:active) {
    color: var(--hover);
  }

  .header__nav-btn:hover:not(:active) .header__nav-btn-hover{
    transform: scaleX(9);
    background-color: var(--hover);
  }
  /* .header__nav-list-elem-link:hover::after {
    transform: scaleX(1);
  }

  .header__nav-list-elem-link:hover:not(:active) {
    color: rgb(122, 115, 219);
  }

  .footer__list-elem-link:hover:not(:active) {
    color: rgb(122, 115, 219);
  } */
}
