h1, p {
  margin-top: 0;
}
.hero__container {
  max-width: 770px;
  padding: 250px 0 135px;
  position: relative;
  z-index: 2;
}
.hero {
  position: relative;
  color: var(--white);
  /* word-wrap: break-word; */
}

.hero .swiper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.hero__title {
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
}

.hero__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.hero__btn {
  width: 314px;
  min-height: 70px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}

.swiper-slide:nth-child(1) {
  background-image: url("../img/hero-birmingham-!@1920-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--grey);
}

.swiper-slide:nth-child(2) {
  background-image: url("../img/hero-birmingham-!@1920-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--grey);
}

.swiper-slide:nth-child(3) {
  background-image: url("../img/hero-birmingham-!@1920-3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--grey);
}

.white {
  color: var(--white);
}
