:root {
  /* fonts */
  --regular: 400;
  --semibold: 600;
  --bold: 700;
  --default-fs: 16px;
  --default-lh: 32px;

  /* color */
  --white: #FFFFFF;
  --grey: #999999;
  --background-default: #E5E5E5;
  --background-gray: #CACACA;
  --background-black: #000000;
  --background-empty: #B7B7B7;
  --text-dark: #333333;
  --text-white: #FFFFFF;
  --text-gray: #666666;
  --disable-dark: #B0B0B0;
  --disable-light: #ECECEC;
  --disable-border: #BBBBBB;
  --focus: #7943A4;
  --active: #7943A4;
  --active-btn-enter: #9D5CD0;
  --active-border: #D1A9F0;
  --hover: #C283F3;
  --hover-background: #EAEAEA;
  --error: #D11616;


  /* sizes */
  --body-min-width: 320px;
  --container-max-width: 1920px;
  --container-padding: calc(160 / 1920 * 100%);


  /* transition */
  --short: .3s;
}

@media (max-width: 1360px) {
  :root {
    --container-padding: 50px;
  }
}

@media (max-width: 580px) {
  :root {
    --default-fs: 14px;
    --default-lh: 28px;
    --container-padding: 15px;
  }
}
