:root {
  /* fonts */
  --regular: 400;
  --bold: 700;
  --default-fs: 16px;
  --default-lh: 32px;

  /* color */
  --white: #FFFFFF;
  --grey: #999999;
  --background-default: #E5E5E5;

  --background-black: #000000;
  --text-dark: #333333;
  --text-white: #FFFFFF;
  --text-gray: #666666;
  --text-teachers: #85859b;
  --active: #646469;
  --hover: #FF9900;


  /* sizes */
  --body-min-width: 320px;
  --container-max-width: 1920px;
  --container-padding: 160px;


  /* transition */
  --short: .5s;
}
