@import url("_fonts.css");

@import url("_variables.css");

@import url("_global.css");

@import url("_keyframes.css");

@import url("_hamburger.css");

/* header */
.header {
  position: relative;
  z-index: 1;
  min-height: 80px;
  margin-bottom: -80px;
  background-color: var(--background-blue);
}

.header__row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 80px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.header__left {
  display: inline-block;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.header__logo {
  display: block;
  width: 94px;
  height: 21px;
}

.header__logo:focus {
  outline: 2px solid var(--hover);
  outline-offset: 1px;
}

.header__nav {
  font-size: 18px;
  line-height: 21px;
}

.header__nav-list {
  display: flex;
  align-items: center;
  justify-content: end;
}

.header__nav-list-elem:not(:last-child) {
  margin-right: 56px;
}

.header__nav-list-elem {
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
}

.header__nav-list-elem-link {
  transition-duration: var(--short);
  transition-property: color;
}

.header__nav-list-elem-link::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--hover);
  transition-duration: var(--short);
  transition-property: background-color, color, transform;
  transform: scaleX(0);
}

.header__nav-list-elem-link:focus:not(:hover) {
  outline: 2px solid var(--hover);
  outline-offset: 1px;
}

.header__nav-list-elem-link:active {
  color: var(--active);
}

.header__burger {
  display: none;
}

/* hero */
.hero {
  z-index: 0;
  min-height: 700px;
  padding-top: 80px;
  background: radial-gradient(44.07% 44.07% at 67.78% 55.93%, #555681 0%, var(--background-dark) 100%);
}

.hero__left {
  padding-top: 130px;
  padding-bottom: 130px;
}

.hero__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 60px;
  font-weight: 700;
  line-height: 100%;
}

.hero__text {
  margin: 0;
  margin-bottom: 60px;
  font-size: 18px;
  line-height: 150%;
}

.hero__btn {
  padding: 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}

.hero__right {
  padding-top: 15px;
  padding-bottom: 15px;
}

.hero__right-pic {
  height: 100%;
  background-image: url("../img/hero-pic.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* advantages */
.advantages {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--white);
}

.advantages__top {
  margin-bottom: 22px;
}

.advantages__pic {
  height: 100%;
  background-image: url("../img/advantages-1110.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.advantages__content-title {
  max-width: 380px;
  margin: 0;
  margin-bottom: 18px;
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;
  color: var(--text-dark);
}

.advantages__content-text {
  max-width: 585px;
  margin: 0;
  color: var(--text-gray);
}

.advantages__card {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.advantages__card-wrapper {
  flex-grow: 1;
}

.advantages__card-wrapper,
.advantages__card-wrapper-content {
  padding: 0;
}

.card {
  display: flex;
  align-items: center;
  background-size: 0;
}

.card::before {
  content: "";
  align-self: flex-start;
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  margin-right: 30px;
  background-image: inherit;
  background-repeat: no-repeat;
  background-size: contain;
}

.advantages__card-wrapper-text {
  margin: 0;
  padding-left: 22px;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  color: var(--text-gray);
}

/* teachers */
.teachers {
  padding-top: 75px;
  padding-bottom: 42px;
  background-color: var(--background-dark);
}

.teachers__title {
  margin: 0;
  margin-bottom: 22px;
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;
  color: var(--white);
}

.teachers__card {
  max-width: 330px;
  margin-bottom: 30px;
  padding: 1px;
}

.teachers__card,
.teachers__card img,
.teachers__card picture {
  border-radius: 20px 20px 0 0;
}

.teachers__card picture {
  display: block;
  font-size: 0;
  line-height: 0;
}

.teachers__card-title {
  margin-top: 36px;
  margin-bottom: 13px;
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
  color: var(--white);
}

.teachers__card-description {
  margin: 0;
  line-height: 150%;
  color: var(--text-teachers);
}

/* courses */
.courses {
  padding-top: 75px;
  padding-bottom: 50px;
  background-color: var(--white);
}

.courses__title {
  margin: 0;
  margin-bottom: 23px;
  font-size: 40px;
  line-height: 100%;
  color: var(--background-dark);
}

.courses__cards-margin {
  margin-bottom: 30px;
}

.courses__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 539px;
  height: 100%;
  min-height: 480px;
  padding-top: 38%;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  border-radius: 20px;
  background: var(--background-card);
}

.courses__card-content {
  height: 100%;
}

.courses__cinema4d {
  background-image: url("../img/courses-cinema4d-@1440.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

.courses__blender {
  background-image: url("../img/courses-blender-@1440.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

.courses__3dmax {
  background-image: url("../img/courses-3dmax-@1440.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

.courses__zbrush {
  background-image: url("../img/courses-zbrush-@1440.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

.courses__card-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  color: var(--background-dark);
  ;
}

.courses__card-desription {
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 150%;
  color: var(--text-gray);
}

.courses__card-btn {
  width: 202px;
  min-height: 60px;
  margin-top: auto;
  padding: 20px;
  font-size: 16px;
  line-height: 19px;
}

/* footer */
.footer {
  min-height: 80px;
  background: var(--text-dark);
}

.footer__container {
  /* padding-left: 135px;
  padding-right: 135px; */
  /* margin-left: 135px;
  margin-right: 135px; */
  max-width: 1170px;
}

.footer__up {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80px;
}

.footer__up-accordion {
  display: flex;
}

.footer__btn {
  display: block;
  min-width: 30%;
  min-height: 80px;
}

.footer__list {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0;
  line-height: 0;
}

.footer__list-elem:not(:last-child) {
  margin-right: 30px;
}

.footer__list-elem-link {
  width: 24px;
  height: 24px;
  transition-duration: var(--short);
  transition-property: color;
}

.footer__list-elem-link:active {
  color: var(--active);
}

.footer__down {
  display: flex;
  justify-content: center;
  height: 18px;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: var(--text-dark);
  text-transform: uppercase;
  background-color: var(--white);
}

.footer__down span {
  color: blue;
}

.footer__container-accordion {
  display: none;
  /* padding: 80px 135px; */
  /* padding-left: 135px;
  padding-right: 135px; */
  min-height: 335px;
  font-size: 16px;
  line-height: 1;
  background: var(--text-dark);
}

.footer__wrap {
  display: flex;
  justify-content: space-between;
}

.footer__wrap-links {
  display: flex;
}

.footer__wrap-links-list {
  width: 170px;
  margin-right: 30px;
}

.footer__wrap-links-list-elem:not(:last-child) {
  margin-bottom: 20px;
}



.footer__wrap-contacts {
  display: flex;
}

.footer__wrap-contacts-mail {
  width: 255px;
  margin-right: 47px;
}

.footer__wrap-contacts-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 400;
}

.footer__wrap-contacts-mail-email svg {
  margin-right: 9px;
}

.footer__wrap-contacts-mail-email {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 30px;
}

.footer__wrap-contacts-mail-address svg {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  margin-right: 9px;
}

.footer__wrap-contacts-mail-address {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 19px;
}

.footer__wrap-contacts-media {
  width: 170px;
}

.footer__wrap-contacts-media-list {
  display: flex;
  flex-wrap: wrap;
}

.footer__wrap-contacts-media-list-elem:not(:last-child) {
  margin-right: 21px;
}



/* accordion */
.content {
  overflow: hidden;
}

.content-wrap {
  visibility: hidden;
  padding: 80px 135px;
  opacity: 0;
  transition: opacity .5s ease, visibility .5s ease;
  transition-delay: .3s;
}

.is-active .content-wrap {
  visibility: visible;
  opacity: 1;
}

.is-active .footer__container-accordion {
  display: inline;
}

.is-active .footer__btn,
.is-active .footer__list {
  display: none;
}

@media (max-width: 800px) {
  .advantages {
    padding-bottom: 76px;
  }

  .hero {
    background: radial-gradient(44.07% 44.07% at 67.78% 55.93%, #555681 0%, var(--text-dark) 100%);
  }

  .hero__title {
    margin-bottom: 15px;
    font-size: 50px;
  }

  .hero__text {
    margin-bottom: 62px;
  }

  .hero__btn {
    padding: 24px;
  }

  .hero__right {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .hero__right-pic {
    background-image: url("../img/hero-pic-@768.png");
  }

  .advantages__pic {
    background-image: url("../img/advantages-690.png");
  }

  .advantages__card {
    display: inline;
  }

  .card::before {
    margin-bottom: 10px;
  }

  .advantages__card-wrapper-text {
    padding-left: 0;
  }

  .teachers__card {
    margin-bottom: 20px;
    padding: 0;
  }

  .teachers__card-description {
    margin-right: -2px;
  }

  .teachers {
    padding-bottom: 52px;
  }

  .courses__card {
    padding-top: 60%;
    height: 100%;
  }

  .courses__cinema4d {
    background-image: url("../img/courses-cinema4d-@768.jpg");
  }

  .courses__blender {
    background-image: url("../img/courses-blender-@768.jpg");
  }

  .courses__3dmax {
    background-image: url("../img/courses-3dmax-@768.jpg");
  }

  .courses__zbrush {
    background-image: url("../img/courses-zbrush-@768.jpg");
  }

  .courses__card-btn {
    width: 195px;
  }
}

@media (max-width: 600px) {
  .header__row {
    justify-content: center;
  }

  .hero {
    min-height: 300px;
  }

  .hero__left {
    padding-top: 77px;
    padding-bottom: 108px;
  }

  .hero__text {
    max-width: 345px;
  }

  .hero__btn {
    padding: 24px;
  }

  .advantages {
    padding-bottom: 55px;
  }

  .advantages__pic {
    background-image: url("../img/advantages-510.png");
    background-position: top;
  }

  .courses {
    padding-bottom: 48px;
  }

  .courses__cinema4d {
    background-image: url("../img/courses-cinema4d-@576.jpg");
  }

  .courses__blender {
    background-image: url("../img/courses-blender-@576.jpg");
  }

  .courses__3dmax {
    background-image: url("../img/courses-3dmax-@576.jpg");
  }

  .courses__zbrush {
    background-image: url("../img/courses-zbrush-@576.jpg");
  }

  .courses__card-title {
    line-height: 130%;
  }

  .courses__card-btn {
    width: 180px;
  }

  .courses__card {
    padding-top: 82%;
  }

  .courses__card-desription {
    margin-bottom: 34px;
  }
}

@media (max-width: 500px) {
  .header__row {
    justify-content: space-between;
  }

  .header__burger {
    position: relative;
    z-index: 13;
    display: inline-block;
    width: 30px;
    height: 23px;
  }

  .header__logo {
    width: 72px;
    height: 16px;
  }

  .header__nav-list {
    display: block;
    overflow-y: auto;
    max-height: 100%;
    margin: 0;
    font-size: 24px;
    font-weight: var(--bold);
    line-height: 29px;
  }

  .header__nav-list-elem:not(:last-child) {
    margin-right: 0;
  }

  .header__nav-list-elem-link {
    font-size: 16px;
  }

  .header__nav-wrap {
    position: fixed;
    z-index: 12;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100vh;
    padding: 40px;
    color: var(--text-dark);
    background-color: var(--white);
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    transform: translateX(-100%);
  }

  .header__nav-wrap.is-active {
    display: block;
    transform: translateX(0);
    animation-name: menu-open;
    animation-duration: .3s;
  }

  .header__nav-wrap.is-closed {
    animation-name: menu-close;
    animation-duration: .3s;
  }

  .hero__left {
    padding-top: 50px;
    padding-bottom: 22px;
  }

  .hero__title {
    margin-bottom: 5px;
    font-size: 30px;
  }

  .hero__text {
    margin-bottom: 45px;
    font-size: 16px;
    line-height: 130%;
  }

  .hero__btn {
    width: 213px;
    padding: 20px;
    font-size: 16px;
    line-height: 19px;
  }

  .advantages {
    padding-top: 50px;
    padding-bottom: 20px;
  }

  .advantages__content-title {
    margin-bottom: 2px;
    font-size: 20px;
    line-height: 130%;
  }

  .advantages__card {
    display: flex;
  }

  .advantages__card-wrapper {
    align-items: center;
  }

  .advantages__card-wrapper-content {
    display: flex;
    align-self: flex-start;
  }

  .card::before {
    margin-bottom: 30px;
  }

  .advantages__card-wrapper-text {
    padding-top: 2px;
    padding-left: 13px;
  }

  .teachers {
    padding-top: 47px;
    padding-bottom: 28px;
  }

  .teachers__title {
    margin-bottom: 27px;
    font-size: 20px;
  }

  .courses {
    padding-top: 46px;
    padding-bottom: 20px;
  }

  .courses__card {
    padding-top: 69%;
  }

  .courses__title {
    margin-bottom: 27px;
    font-size: 20px;
  }

  .courses__cinema4d {
    background-image: url("../img/courses-cinema4d-@320.jpg");
  }

  .courses__blender {
    background-image: url("../img/courses-blender-@320.jpg");
  }

  .courses__3dmax {
    background-image: url("../img/courses-3dmax-@320.jpg");
  }

  .courses__zbrush {
    background-image: url("../img/courses-zbrush-@320.jpg");
  }

  .courses__card {
    min-height: 653px;
  }

  .courses__card-btn {
    width: 195px;
    font-weight: 700;
  }
}

@media (any-hover: hover) {
  .header__nav-list-elem-link:hover::after {
    transform: scaleX(1);
  }

  .header__nav-list-elem-link:hover:not(:active) {
    color: rgb(122, 115, 219);
  }

  .footer__list-elem-link:hover:not(:active) {
    color: rgb(122, 115, 219);
  }
}
